.blog-row h1 {
    color: #FF8B3F;
}

.test-right i {
    color: #FFB35F;
}

.blog-row {
    background-color: #dddddd;
    margin: auto;
}

.blog-column {
    float: left;
    
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-left {
    width: 70%;
    font-size: 1em;
    margin: 0 auto;
    padding: 40px;
  }

  .blog-left h3 {
      text-align: left;
  }
  
  .test-right {
    width: 30%;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 40px;
  }
  
  /* Clear floats after the columns */
  .blog-row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .blog-column {
      width: 100%;
    }

    .blog-left {
        width: 90%;
    }

    .test-right {
        width: 90%;
    }
  }