.hero-image
{
    background-image: url("/images/a-g-header.png");
    
    /* Set a specific height */
    height: 50%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    position: relative;
}