/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
    font-size: 0.8em;
  }
  
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: #52586e;
    text-decoration: none;
  }
  
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: #86939E;
    text-decoration: underline;
  }

.product-container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    display: flex;
  }

  .product-container:after {
    content: "";
    display: table;
    clear: both;
  } 

  /* Columns */
.left-column {
    width: 50%;
    height: 100%;
    position: relative;
  }
   
  .right-column {
    width: 50%;
    height: 100%;
    margin-top: 60px;
  }

  /* Left Column */
.left-column img {
    max-width: 100%;
    height: auto;
    position: absolute;
    left: 9%;
    top: 9%;
  }
   

  /* Product Description */
.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
  .product-description span {
    font-size: 0.8em;
    color: #FF802C;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 3.25em;
    color: #43484D;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 1em;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  /* Product Color */
.product-color {
    margin-bottom: 30px;
  }

.color-choose button {
    display: inline-block
} 

.black button {
    background-color: #000000;
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 0.875em;
    cursor: pointer;
}
 
  /* Size Options*/
.size-choose {
    margin-bottom: 20px;
  }
   
  .size-choose button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 0.875em;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
  }
   
  .size-choose button:hover,
  .size-choose button:active,
  .size-choose button:focus {
    border: 2px solid #86939E;
    outline: none;
  }
   
  .size-config {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }
   
  .size-config a {
    color: #358ED7;
    text-decoration: none;
    font-size: 0.75em;
    position: relative;
    margin: 10px 0;
    display: inline-block;
  }
  .size-config a:before {
    content: &quot;?&quot;;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid rgba(53, 142, 215, 0.5);
    display: inline-block;
    text-align: center;
    line-height: 16px;
    opacity: 0.5;
    margin-right: 5px;
  }

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   
  .cart-btn {
    display: inline-block;
    background-color: #52586e;
    border-radius: 6px;
    font-size: 1.625em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
  }
  .cart-btn:hover {
    background-color: #858BA1;
  }

  /* Product Price */
.product-price {
    display: flex;
    align-items: center;
  }
   
  .product-price span {
    font-size: 1.625em;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   